extends ./layout

block main
    h1= event.name
    h2 Present
    ul
      for reg in register.filter(x => x.present)
        li
          a(href=`/member/${reg.member.id}`)= reg.member.fullName
          form(method="post" action=`/register/${event.id}/mark/${reg.member.id}/out`)
              input(type="submit" value="Mark absent")

    h2 Absent
    ul
      for reg in register.filter(x => !x.present)
          li
            a(href=`/member/${reg.member.id}`)= reg.member.fullName
            form(method="post" action=`/register/${event.id}/mark/${reg.member.id}/in`)
              input(type="submit" value="Mark present")

    a(href=`/register/${event.id}/end`)= `End Event (This will mark everyone absent) =>`
