extends ./layout

block main
    h1= event.name

    form(method="post" action=`/register/${event.id}/end`)
      input(type="submit" value="End Event")
      label (This will mark everyone absent and freeze check-ins.)

    h2 Present
    .register
    .present
      for reg in register.present
        .member-registration
          div: a(href=`/member/${reg.member.id}`)= reg.member.fullName
          div= `Checked in at ${checkInOutDate(reg.updatedAt)}`
          div: form(method="post" action=`/register/${event.id}/mark/${reg.member.id}/out`)
              input(type="submit" value="Mark absent")

    h2 Absent
    .absent
      for reg in register.absent
          .member-registration
            div: a(href=`/member/${reg.member.id}`)= reg.member.fullName
            div= `Checked out at ${checkInOutDate(reg.updatedAt)}`
            div: form(method="post" action=`/register/${event.id}/mark/${reg.member.id}/in`)
              input(type="submit" value="Mark present")
